@media screen and (min-width: 768px) {
    .testimonial {
        height: 500px;
    }
}

@media screen and (min-width: 992px) {
    .testimonial {
        height: 600px;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1440px;
    }
}
