*, ::before,
::after {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}   

:root {
/* palette */
--shade-silver: #aaabb1;
--shade-flash-green: #e3d068;
--shade-white-green:#aeaa3f;
--shade-green:#7c8346;
--shade-black-green:#43562d;


/* Fonts */


 /* Font-size */
--text-xs: 0.8rem;
--text-sm: 1.4rem;
--text-base: 1.6rem;
--text-md: 1.8rem;
--text-lg: 2rem;
--text-xl: 2.4rem;
--text-2xl: 3rem;
--text-3xl: 3.6rem;
--text-4xl: 4.2rem;
--text-5xl: 5rem;
--text-6xl: 6rem;
--text-7xl: 7.2rem;

 /* Spacing */
--space-1: 0.1rem;
--space-2: 0.2rem;
--space-4: 0.4rem;
--space-6: 0.6rem;
--space-8: 0.8rem;
--space-10: 1rem;
--space-12: 1.2rem;
--space-16: 1.6rem;
--space-20: 2rem;
--space-28: 2.8rem;
--space-36: 3.6rem;
--space-44: 4.4rem;
--space-52: 5.2rem;
--space-60: 6rem;
--space-72: 7.2rem;
--space-84: 8.4rem;
--space-96: 9.6rem;
}


h1 {
    font-size: var(--text-4xl);
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

header {
    font-size: 100%;
}


/* Global utility classes */

.main-subtitle {
    font-size: 3rem;
    margin-bottom: 2.8rem;
    color: var(--shade-silver);
    font-weight: 300;
}

img {
    width: 4.2rem;
}

.container {
    margin: 0 auto;
}



/**************** HEADER ***********/

/* Navbar */
/* effet js*/


#main-nav {
    transition: all 1s ease;
}

.navbar a {
    color: black;
    font-family: 'lato';
    font-size: 2rem;
    font-weight: 700;
    transition: all 0.4s ease;
    margin-left: var(--space-10);
}

#navbarSupportedContent {
    margin-top: 30px;
}

.nav-height {
    padding: 0;
    height: 100%;
} 

.navbar .container-fluid {
    font-size: 3rem;
  /* transition pour le retour */
    transition: all 0.4s ease;
}


/* TESTIMONIAL  */

.testimonial {
    background-image: url(assets/images/petit-bonhomme.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-slideshow-container {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

.sliding-container {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
    color: darkmagenta;
    animation: carousel 22s ease-in-out infinite;
}

.testimonial-text {
    font-size: 1rem;
    margin-bottom: var(--space-6);
}

.text-slide {
    margin-top: 85px;
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    font-size: 4vw;
} 

.testimonial-author {
    color: purple;
    margin: 45px 5px 0px 5px;
}

@keyframes carousel {
    0%,
    20% {
    transform: translateX(0);
    }
    25%,
    45% {
    transform: translateX(-100%);
    }
    50%,
    70% {
    transform: translateX(-200%);
    }
    75%,
    95% {
    transform: translateX(-300%);
    }
    100% {
    transform: translateX(-500%);
    } 
}


/******* SECTION  5 CARDS ********/

.img-cards {
    width: 100%;
    height: auto;
}

.main-card {
    width: 100%;
    background: linear-gradient(90deg, #e3d068 0.5%, #7c8346 90%);
    color: black;
    margin-bottom: var(--space-28);
    margin-top: var(--space-36);
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
}

.profile-image {
    height: auto;
    object-fit: contain;
    object-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-content {
    padding: var(--space-20);
}

.top-card-content {
    display: flex;
    margin-bottom: var(--space-20);
    margin-left: auto;
}

.main-card img {
    width: 100%;
    cursor: pointer;
}


.card-description {
    font-size: var(--text-base);
}


/********** NEWS ************/

.anim {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.container-news {
    text-align: center;
}

.container-div-p {
    text-align: center;
    font-size: var(--text-md);
    text-align: center;
}


.form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}


.form-input-text{
    border-radius: 10px;
    border: 2px solid var(--shade-black-green);
    padding-left: 15px;
}

.form-input-text:focus-visible {
    outline: none;
    border: 2px solid var(--shade-white);
    box-shadow: 1px 1px 10px var(--shade-flash-green);
}

.button-main {
    border-radius: 6px;
    color: black;
    background-color: var(--shade-flash-green);
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

.footer-text {
    margin-top: 50px;
    text-align: center;
    font-size: var(--text-base);
}

.footer-nav-link{
    margin: 50px 50px 50px 50px;
}


.footer-end{
    text-align: center;
    font-size: var(--text-xs);
    margin-top: 60px;
    line-height: 10px;
}

