:root {
/* palette */
--shade-silver: #aaabb1;
--shade-flash-green: #e3d068;
--shade-white-green:#aeaa3f;
--shade-green:#7c8346;
--shade-black-green:#43562d;


/* Fonts */
--ff-a: 'Archivo Narrow', sans-serif;
--ff-j: 'Julius Sans One', sans-serif;
}


h1 {
    font-size: 3.2rem;
    font-family: var(--ff-a);
    font-weight: 600;
}

body {
    max-width: 100vw;
    min-width: 390px;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: var(--ff-a);
    font-weight: 400;
}

ul {
    list-style: none;
}

.social {
    color: #e3d068;
    font-size: 3rem;
    margin: 15px;
}


/* Global utility classes */

.main-subtitle {
    font-size: 3rem;
    margin-bottom: 2.8rem;
    color: var(--shade-silver);
    font-weight: 300;
}


/**************** HEADER ***********/

/* Navbar */
/* effet js*/


#main-nav {
    transition: all 1s ease;
}

.navbar a {
    color: black;
    font-family: 'lato';
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s ease;
    margin-left: 1rem;
}

.navbar .container-fluid {
    font-size: 1.8rem;
  /* transition pour le retour */
    transition: all 0.4s ease;
    height: 100%;
}


.navbar a {
    color: black;
    font-family:var(--ff-j);
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
}


/* TESTIMONIAL  */

.testimonial {
    margin-top: 6.6rem;
    background-image: url(assets/images/petit-bonhomme.jpg);
    height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-slideshow-container {
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    height: 100%;
}

.sliding-container {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
    color: darkmagenta;
    animation: carousel 20s ease-in-out infinite;
}

.testimonial-text {
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
    font-family: var(--ff-a);
    font-size: 400;
}

.text-slide {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    font-size: 4vw;
} 

.testimonial-author {
    color: purple;
    margin: 45px 5px 0px 5px;
    font-family: var(--ff-a);
}

@keyframes carousel {
    0%,
    20% {
    transform: translateX(0);
    }
    25%,
    45% {
    transform: translateX(-100%);
    }
    50%,
    70% {
    transform: translateX(-200%);
    }
    75%,
    95% {
    transform: translateX(-300%);
    }
    100% {
    transform: translateX(-500%);
    } 
}


/******* SECTION  5 CARDS ********/

.card border-0 {
    z-index: -1;
    width: 100%;
    height: 100%;

}

.img-cards {
    width: 100%;
    height: auto;
}

.main-card {
    width: 100%;
    background: linear-gradient(90deg, #e3d068 0.5%, #7c8346 90%);
    color: black;
    margin-bottom: 2.8rem;
    margin-top: 3.6rem;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
}

.profile-image {
    height: auto;
    object-fit: contain;
    object-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-content {
    padding: 2rem;
}

.top-card-content {
    display: flex;
    margin-bottom: 2rem;
    margin-left: auto;
}

.main-card img {
    width: 100%;
    cursor: pointer;
}


.card-description {
    font-size: 1.6rem;
    font-family: var(--ff-j);
    font-weight: bold;
}


/********** NEWS ************/

.container-news {
    text-align: center;
}

.container-div-p {
    text-align: center;
    font-size: 1.8rem;
    font-family: var(--ff-j);
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-family: var(--ff-a);
}

.form-input-text{
    border-radius: 10px;
    border: 2px solid var(--shade-black-green);
    padding-left: 15px;
}

.form-input-text:focus-visible {
    outline: none;
    border: 2px solid var(--shade-white);
    box-shadow: 1px 1px 10px var(--shade-flash-green);
}

.button-main {
    border-radius: 6px;
    color: black;
    background-color: var(--shade-flash-green);
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

.footer-text {
    margin-top: 50px;
    text-align: center;
    font-size: 1.6rem;
    font-family: var(--ff-a);
}

.footer-nav-link{
    margin: 50px 50px 50px 50px;
}

.footer-end{
    text-align: center;
    font-size: 0.8rem;
    margin-top: 60px;
    line-height: 10px;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');

/* CSS for text animation */

.text-anim {
    z-index: 1;
    color: #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 8vw;
    
    padding: 50px;
    justify-content: center;
    display: flex;
    position: relative;
    letter-spacing: 5px;
}

.text-anim span:nth-child(1) {
    color: var(--shade-flash-green);
    animation: animText 1s ease-in-out infinite;
}

.text-anim span:nth-child(2) {
    color: var(--shade-black-green);
    animation: animText 1s ease-in-out infinite;
    animation-delay: 0.8s;
}

.text-anim span:nth-child(3) {
    color: var(--shade-green);
    animation: animText 1s ease-in-out infinite;
    animation-delay: 1.2s;
}

.text-anim span:nth-child(4) {
    color: var(--shade-white-green);
    animation: animText 1s ease-in-out infinite;
    animation-delay: 1.6s;
}

@keyframes animText {
    0% {
        font-weight: 200;
    }

    50% {
        font-weight: 800;
    }

    100% {
        font-weight: 200;
    }
}

.text-anim span:nth-child(5) {
    color: var(--shade-flash-green);
    font-weight: 800;
    animation: animMark 1s ease-in-out infinite;
}

@keyframes animMark {
    0% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(30deg);
    }
}

/**************** HEADER ***********/

.img-header {
    background-image: url(assets/images/indian-g9fd87fac9_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    font-family: var(--ff-j);
}

/********* Evenements  ***********/

#btn {
    background: white;
    height: 80px;   
}

#btn a {
    text-decoration: none;
    font-family: 'lato';
    height: 50px;
    width: 120px;
    display: block;
    margin: auto;
    text-align: center;
    line-height: 50px;
    position: relative;
    top: 10px;
    border-radius: 30px;
    border:1px solid #22A7F0;
    transition: all 0.2s ease-in;
}

#btn a:hover   {
    background: rgba(6, 136, 206, 0.8);
    color: white
}

/* ban1 premiere banniere */

#ban1 {
    position: relative;
    background: url(assets/images/indian-g9fd87fac9_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* pour centrer le bouton et les textes */
    text-align: center;
    margin-top: 0px;
}

.container-header {
    text-align: center;
    padding-top: 300px;
}

.text-img {
    color: #43562d; 
}

#aPropos {
    font-family: var(--ff-j);
    font-weight: bold;
}